.container{
    text-align: center;
}
.center {
    margin: auto;
    width: 50%;
    padding: 10px;
}
h1.center {
    text-align: center;
    color: #3b2f2f;
    text-decoration: underline;
}

p.listhead{
    font-size: 20px;
    font-weight: bold;
}

.matrix.b{
    display: flex;
    flex-direction: column;
    
}
.matrix{
    display: flex;
    width: 100%;
    justify-content: center;
}
.matrix.f{
    gap: 2%;
}

